.table {
    width: 70%;
    border-collapse: collapse;
   margin-top: 3%;
   
   
  }
  
  .table td, .table th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .order-user{
    background-color: #f6e4e3;
  }
  