@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'normalize.css'; */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: initial;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-wrapper {
  display: flex;
  justify-content: center; 
}

