.addProduct{
    display: flex;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Montserrat:wght@100;200;300;400;500&family=Raleway:wght@100;200;500&family=Staatliches&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.table-container{
  
  height: 90vh;
  overflow: auto;
  display: grid;
  
  width: 55%;
height: calc(600px / 100 * 100%);
display: flex; /* Enable flexbox */
width: 55%; /* Assuming the container has a width */
margin-top: calc(-75px / 100 * 100%);
left: -10%;
}

table{
  border-collapse: collapse;
  color: #555;
}

tr:has(th){
  position: sticky;
  top: 0;
  z-index: 3;
}

tr > *{
  padding: 1rem;
}

tr:has(:not(th)):nth-child(even) td{
  background-color: #fff;
}
tr:has(:not(th)):nth-child(odd) td{
  background-color: #eee;
}

td,th{
  position: relative;
  text-align: center;
}

td:nth-child(odd)::before{
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0001;
  top: 0;
  left: 0;
}

th{
  background-color: #aaa;
  color: #222;
}

img{
  height: 10vh;
}

[data-sticky]{
  position: sticky;
  z-index: 2;
  color: #000;
}

[data-sticky]::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: -1;
}

[data-sticky="left"]{
  left: var(--_left);
}

[data-sticky="right"]{
  right: 0;
}