


.section .productType{
    display:flex;
    flex-direction: row;
    
}
.section .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:50%;
    justify-content: start;
    margin: 20px auto;
    flex-wrap: wrap;
}
.section .container .items{
   width: 24vw;
   height: 35vw;
   box-sizing: border-box;
   background-color: white;
   margin: 15px;
   border-width: .12rem;
   border-style:inset;
   border-color: black;
   border-radius: 8px;
}

.section .container .items .img img{
    width:24vw;
    height: 25vw;
    margin:0;
    padding-left: 0;
    border-radius: 5px;
    transition-duration: 0.8s;
    align-items: center;
}

.section .container .items .img{
    overflow: hidden;
    margin: 0;
}

.section .container .items .img img.hover-img{
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
}

.section .container .items .name{
text-align: center;
background-color: rgb(230, 132, 153);
height: 25px;
padding-top: 4px;
color: white;
margin: 0;
}

.section .container .items .price{
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(232, 63, 25);
}

.section .container .items .des{
    padding-left: 10px;
    color: rgb(243,168,7);
    align-items:center;
}

.section .container .items .button{
    margin-top: 5px;
    align-items: center;
    color: rgb(243,168,7);
}

.section .container .items .addToCart:active {
    /* Apply your desired CSS styles here */
    /* For example, change the background color */
    background-color: #ccc; /* Change to your preferred color */
  }
  

  
    
