.cartWrapper h2{
    padding-left: 25%;
    align-items: center;
}
.checkOutButton{
    left: 40%;
    align-items: center;
}

.cartPage{
    display: flex;
    background-color: #f6e4e3;
}

.cartWrapper{
    flex: 60%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
}
.container{
    margin-top: 3rem;
}
.priceDetail{
    position: relative;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 3rem;
    flex: 40%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: black;
    color: white;
}

@media(max-width:768px){
    .cartPage{
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f6e4e3;
    }
    .cartWrapper{
        margin: 2rem;
    }
}