body{
  background:  #F5F5F5;   
  padding-top: 10px;
}

.page-section{
  width: 100vw;
  display: flex;

}

.page-section.blur {
  filter: blur(5px);
  pointer-events: none;
  overflow: hidden; 
  height: 100vh;
}





 
.displayform{
  width:45%;
  /* margin-top:50px;     */
  /* margin:50px; */
  height:40%;
  float:right;
  position: fixed;
  left: 60%;
  border-radius: 91px;
  background: #e0e0e0;
  box-shadow:  26px 26px 52px #bebebe, -26px -26px 52px #ffffff;
  flex: 35%;
  
}


.add {
  margin-top: 10px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.add:hover {
  border: 1px solid white;
}

.add:active {
  box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}


.table-container{
  flex: 65%;
  
}

.addProduct{
    display: flex;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Montserrat:wght@100;200;300;400;500&family=Raleway:wght@100;200;500&family=Staatliches&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body {
  min-height: 100vh;
  display: grid;
  place-items: start; /* Align items at the start horizontally and vertically */
  /* padding: 20px; Optional: Add padding to the body */
}


.table-container{
  overflow: auto;
  display: flex;
  width: 55%;
height: calc(600px / 100 * 100%);
float: left; /* This is deprecated, consider using CSS Grid or Flexbox instead */
margin-top: calc(-75px / 100 * 100%);
left: 10%;

}

[data-sticky]{
  position: sticky;
  z-index: 2;
  color: #000;
}

[data-sticky]::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0004;
  z-index: -1;
}

[data-sticky="left"]{
  left: var(--_left);
}

[data-sticky="right"]{
  right: 0;
}


@media(max-width:786px){
  .page-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

}




