
.n-wrapper {
  
  height: 12vh; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #d6e7ee; 
  padding: 0 20px; 
}

.n-left {
  flex: 1;
  display: flex;
  align-items: center;
  
}

.n-name {
  font-size: 1.25rem; 
  font-weight: bold;
  color: #333; 
}

.n-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-bar{
  margin-left: 4rem;
  font-size: 2rem;
  background: none;
}


nav {
  display: flex;
  margin: 0; 
}

ul {
  list-style: none; 
  padding: 0; 
  display: flex;
  cursor: pointer;
}

li {
  margin: 0 10px; 
  padding: 0.5rem 1rem; 
  border-radius: 4px; 
  text-decoration: none; 
  color: #333; 
  transition: background-color 0.2s ease-in-out;
}

li:hover {
  background-color: #f0f0f0; /* Hover background color */
}

form {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

label {
  margin-right: 5px;
}

#search-bar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logo-container img{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10%;
}
